body {
  background-color: #263238;
}

h1, h2, h3, h4, h5, h6, label {
  color: white !important;
}

nav {
  background-color: #5d4037;
}

@media screen and (min-width: 480px) {
  nav .brand-logo {
    padding: 0px 10px;
  }
}

nav .input-field {
  width: 300px;
}

nav .input-field label {
  top: -10px;
}

.collapsible-body {
  padding: 10px 0px;
}

.table {
  font-size: 0.7em;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('/poster.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width: 500px) { 
div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
html { background: url('/poster.png') #000 no-repeat center center fixed; }
#bgvid { display: none; }
}

#weights {
  position: absolute;
  left: 15%;
  width: 70%;
  margin: 20% auto;
}

.ui.inverted.segment {
  background: #5b5f63a8;
}

#title {
  position: absolute;
  width: 40%;
  left: 30%;
  margin: 10% auto;
  color: white;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  background-color: #5b5f63a8;
  padding: 30px 25px;
  border-radius: 0.3rem;
}